#Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin
#if github package want to use git+packeagelink syntax
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase==2.10.0
bcrypt

segno
pillow

streamlit #for web app inbilt
